# ArgoCD (user-charts instance for deploying user helm charts)
CHARTS_API_ARGOCD_SERVER_URL=https://user-charts-argocd.nsogroup.com
CHARTS_API_ARGOCD_AUTH_TOKEN=
CHARTS_API_ARGOCD_PROJECT=default
CHARTS_API_ARGOCD_NAMESPACE=user-charts

# Internal TLS CA bundle (for verifying Artifactory / ArgoCD HTTPS)
# Mount the internal CA cert into the pod and point to it here
CHARTS_API_CA_BUNDLE_PATH=/etc/ssl/certs/internal-ca.crt

# Artifactory Helm repo URL (as registered in ArgoCD repositories config)
CHARTS_API_ARTIFACTORY_HELM_REPO_URL=https://artifactory.nsogroup.com/artifactory/devops-helm-release-local

# Kubernetes
CHARTS_API_K8S_IN_CLUSTER=false
CHARTS_API_K8S_KUBECONFIG=

# Deployment defaults
CHARTS_API_DEPLOYMENT_BACKEND=argocd
CHARTS_API_DEFAULT_SERVICE_TYPE=ClusterIP

# TTL cleanup
CHARTS_API_TTL_CHECK_INTERVAL_MINUTES=60

# Server
CHARTS_API_HOST=0.0.0.0
CHARTS_API_PORT=8000
CHARTS_API_DEBUG=false
