# Rancher - K8s API proxy with user impersonation
CHARTS_API_RANCHER_URL=https://rancher.nsogroup.com
CHARTS_API_RANCHER_CLUSTER_ID=c-m-xxxxx
CHARTS_API_RANCHER_TOKEN=

# Internal TLS CA bundle (for verifying Artifactory / Rancher HTTPS)
CHARTS_API_CA_BUNDLE_PATH=/etc/ssl/certs/internal-ca.crt

# Artifactory Helm repo
CHARTS_API_ARTIFACTORY_HELM_REPO_URL=https://artifactory.nsogroup.com/artifactory/devops-helm-release-local
CHARTS_API_ARTIFACTORY_HELM_REPO_NAME=artifactory
CHARTS_API_ARTIFACTORY_USERNAME=
CHARTS_API_ARTIFACTORY_PASSWORD=

# Kubernetes
CHARTS_API_K8S_IN_CLUSTER=false
CHARTS_API_K8S_KUBECONFIG=

# Defaults
CHARTS_API_DEFAULT_SERVICE_TYPE=ClusterIP
CHARTS_API_DEFAULT_SERVICE_PORT=8080

# Helm
CHARTS_API_HELM_BINARY=helm
CHARTS_API_HELM_TIMEOUT=300

# TTL cleanup
CHARTS_API_TTL_CHECK_INTERVAL_MINUTES=60

# Server
CHARTS_API_HOST=0.0.0.0
CHARTS_API_PORT=8000
CHARTS_API_DEBUG=false
